---
const {class:className} = Astro.props
---
<div class=`radar border-light rounded-full ${className}`>
    <div class="radar__line1 | absolute rounded-full"></div>
    <div class="radar__line2 | absolute rounded-full"></div>
    <div class="radar__line3 | absolute rounded-full"></div>
    <div class="radar__line4 | absolute rounded-full"></div>
</div>